.container {
  padding: 20px;
  font-family: Arial;
}

input {
  margin: 5px;
  padding: 6px;
}

button {
  padding: 6px 10px;
  margin: 5px;
}

table {
  width: 100%;
  margin-top: 20px;
  border-collapse: collapse;
}

th, td {
  border: 1px solid #ccc;
  padding: 8px;
  text-align: center;
}
